header, main, footer {
    padding-left: 240px;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
a.button-collapse.top-nav {
    position: absolute;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}
a.button-collapse.top-nav.full {
    line-height: 122px;
}
nav .nav-wrapper {
    text-align: center;
}
header.login, main.login, footer.login {
    padding: 0;
}

main {
    padding-bottom: 20px !important;
}

footer {
    margin-top: -20px !important;
}

div.col.s12 {
    padding-top: 0.75rem;
}

.draggableHover {
    background-color: #00ff00;
}

.profile-button {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    font-size: 15px;
    text-shadow: 1px 1px 1px #444444;
}

.user-details {
    margin-bottom: 15px;
    padding: 15px 0 0 15px;
}

.user-role {
    color: #ffffff;
    margin-top: -16px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444444;
}
