
/*
*
{
	font-family: monospace
}
*/

body {  /*login.css*/
	height:100%;
}
body.tc {
	background: #fefbf7;
	margin: 0
}
div#ajaxDiv {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%
}
div#head {
	background: #ccc;
	padding-bottom: 7px;
	padding-top: 7px;
	width: 100%
}
h3 {
	margin: 0
}

input[type=text].times,input[type=text]#searchbar {
	text-align: center
}
body {
	height:100%;
}
#navigation {
	float: left;
	width:15%;
	height:100%;
	background-color:#DDDDDD;
}
#container #ajaxDiv {
	float:left;
	width:79%
}
.sideNavigationTable {
	width:100%;
	display:table
}
.sideNavigationCell {
	display:table-cell;
	padding-bottom:10px;
	padding-top:10px;
	text-align:center;
	text-decoration:none;
	user-select:none
}
.row {
	display:table-row;
}
a.sideNavigationCell:hover {
	background-color:#CFCFCF;
}

input[class|="e"], select[class|="e"] {
    font-family: monospace;
}
